:root {
  --main: rgb(216, 154, 39);
  --background: tan;
  --dark:rgb(0, 59, 0);
  font-family: Arial, Helvetica, sans-serif;
}


/*top bar on page*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 50px;
  background-color: var(--dark);
  color: var(--background);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 25px;
  list-style-type: none;
}

nav a {
  color: var(--main);
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: var(--background);
}

nav a:hover {
  color: var(--background);
}

/*bar with photo and web portfolio label*/

.hero {
  position: relative; 
  height: 300px; 
  background: var(--background) url("../images/image-1.jpg") center / cover no-repeat;
}
.hero span {
  position: absolute; 
  bottom: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white;
  font-weight: 800;
  font-size: 500%; 
}

h1 {
  font-size: 200%;
}

/*side labels for different sections*/
h2 {
  margin: 2% 0;
  font-size: 300%;
  line-height: 2;
  color: var(--dark);
  text-align: right;
  border-right: 5px solid var(--main);
  padding-right: 10px;
  width: 15%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

/*about me section*/
#about-me {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
 
}

#about-me p {
  flex-grow: 2;
  margin-right: 10px; 
  margin-left: 30px;
  font-family: "league spartan";
  font-size: 25px;
}

.profile-photo {
  width: 250px; 
  height: auto;
  border-radius: 10%; 
}

/*work section*/
#work {
  display: flex;
  flex-direction: row; 
  padding: 20px 0; 
}

#work h2 {
  font-size: 300%;
  color: var(--dark);
  padding: 0 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; 
  margin-right: 10px; 
}

/*Full container for all work cards*/
.full-work-card {
  display:flex;
  flex-direction: column;
  align-items: right;
  width: 100%; 
  max-width: 1200px; 
  margin: auto; 
}

/*container with four workcards*/
.small-card-container{
  display: flex;
  position:relative;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  margin:auto;
}

.large-card span{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--dark);
  color: var(--main);
  padding: 8px;
  font-family: "league spartan";
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease; 
  z-index: 2; 
}

.small-card span{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--dark);
  color: var(--main);
  padding: 8px;
  font-family: "league spartan";
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease; 
  z-index: 2; 
}

.full-work-card, .small-card-container {
  width: 95%;
}

.large-card {
  border: 5px solid var(--dark);
  position: relative;
  text-align: center;
  background-color: var(--dark);
  height: 250px; 
  margin: 10px auto; 
  box-sizing: border-box;
  overflow: hidden;
  width: calc(97% - 40px); 
}

.large-card img {
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  border: none; 
}


 .small-card img {
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  border: none;
}

.small-card{
  border: 5px solid var(--dark);
  position: relative;
  text-align: center;
  background-color: var(--dark);
  height: 200px; 
  margin: 10px;
  flex-basis: calc(50% - 20px); 
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 10px;
}


.large-card span a, .small-card span a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--dark);
  color: var(--main);
  padding: 8px;
  font-family: "league spartan";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease; 
  z-index: 2; 
}

.large-card span a:hover, .small-card span a:hover {
  color: #d4b6b6; 
  cursor: pointer; 
}

#work a{
background-color: var(--dark);
color:var(--main)
}

/*tan overlay on images when hovered above*/
.large-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 180, 140, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.large-card:hover::before {
  opacity: 1;
}

.small-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 180, 140, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.small-card:hover::before {
  opacity: 1;
}

/*contact me section*/

.contact-container {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 20px; 
}

.contact-container h2 {
  margin-right: 20px; 
  flex-shrink: 0; 
}

.contact-container ul {
  display: flex;
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  align-items: center; 
}

.contact-container li {
  margin: 0 25px; 
}

.contact-container a {
  color: var(--main);
  font-family: "league spartan", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none; 
}

.contact-container a:hover {
  color: #043d13; 
  cursor: pointer; 
}


main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}
@media screen and (max-width: 600px) {
  .hero span {
      font-size: 150%;
      left: 50%;
      transform: translateX(-50%);
  }
  .work-card, .large-card, .small-card {
      width: 100%;
  }
  /*  responsive styling */
}