:root {
    --main: rgb(216, 154, 39);
    --background: tan;
    --dark:rgb(0, 59, 0);


}
/*top bar on page*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    height: 50px;
    margin-right: 2px;
    background-color:var(--dark) ;
    color: var(--background);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}



  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-left: 6 px;
    list-style-type: none;
  }
  nav a {
    color: var(--main);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--background);
  }

  /*bar with photo and text*/
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-color:var(--background);
    background-size: cover;
    background-image: url("../images/image-1.jpg");
    background-position: center;
}
/*cant get text to shopw up*/
.hero span{
  text-align: right;
  color: var(--background)
  margin-left: 10%;
  margin-bottom: 0px%;
  text-decoration: underline;
  font-size:200%;
  
}

h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    Color:var(--dark);
    text-align: left;
    border-right: 5px solid rgb(0, 155, 8);
    margin-right: 4px;
    width: 15%;

  }
  
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}


#about-me{
    color:var(--dark);
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
  }
  /*work card*/

#work{
  color:var(--dark);
  display: flex;
}
/*might not need*/

.work-card{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.large-card span{
  position: absolute;
  right: 40vw;
  bottom: 20px;
  border-width:5%;
  background-color: var(--dark);
  border-color: var(--dark);
  color:var(--main);
  font-family: Arial, Helvetica, sans-serif;
}

.large-card{
    border:5px solid green;
    width:50vw;
    height:30vw;
    padding: 3%;
}
.small-card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.small-card{
    border:5px solid green;
    width:30vw;
    height:20vw;
    padding: 10px;
    margin:10px;

    

}
.small-card span{
  border-width:5%;
  background-color: var(--dark);
  border-color: var(--dark);
  color:var(--main);
  font-family: Arial, Helvetica, sans-serif;
}

.small-card img{
  width: 100%;
  border: 10px;
  border-color: var(--dark);
}


/*contact me card*/

#contact-me{
  color:var(--dark);
  display: flex;


}

#contact-me ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: square;
    color:rgb(52, 244, 65);
}

#contact-me a{
    color:var(--main);
}

  
 
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }