:root {
  --main: rgb(216, 154, 39);
  --background: tan;
  --dark:rgb(0, 59, 0);
  font-family: Arial, Helvetica, sans-serif;
}


/*top bar on page*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 50px;
  background-color: var(--dark);
  color: var(--background);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 25px;
  list-style-type: none;
}

nav a {
  color: var(--main);
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: var(--background);
}

nav a:hover {
  color: var(--background);
}

/*bar with photo and web portfolio label*/

.hero {
  position: relative; 
  height: 300px; 
  background: var(--background) url("../images/image-1.jpg") center / cover no-repeat;
}
.hero span {
  position: absolute; 
  bottom: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
  color: var(--main);
  font-weight: 800;
  font-size: 500%; 
}

h1 {
  font-size: 200%;
}

/*side labels for different sections*/
h2 {
  margin: 2% 0;
  font-size: 300%;
  line-height: 2;
  color: var(--dark);
  text-align: right;
  border-right: 5px solid var(--main);
  padding-right: 10px;
  width: 15%;
}


body {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

/*about me section*/
#about-me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

#about-me p {
  flex-grow: 2;
  margin-right: 10px; 
  margin-left: 20px
}

.profile-photo {
  width: 250px; 
  height: auto;
  border-radius: 10%; 
}

/*work section*/
#work{
  color:var(--dark);
  display: flex;
  padding-right: 60px;
}
/*Full container for all work cards*/
.full-work-card {
  display:flex;
  flex-direction: column;
  align-items: right;
  width: 100%; 
  max-width: 1200px; 
  margin: auto; 
}

/*container with four workcards*/
.small-card-container{
  display: flex;
  position:relative;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  margin:auto;
}

.large-card span{
border-width: 10px;
position:relative;
font-size: 130%;
font-weight: 300;
position:absolute;
bottom: 20px;
left: 16px;
background-color: var(--dark);
border-color: var(--dark);
color:var(--main);
font-family: Arial, Helvetica, sans-serif;
}

.full-work-card, .small-card-container {
  width: 80%;
}

.large-card {
  border: 5px solid var(--dark);
  position: relative;
  text-align: center;
  background-color: var(--dark);
  height: 250px; 
  margin: 10px auto; 
  box-sizing: border-box;
  overflow: hidden;
  width: calc(82% - 40px); 
}

.large-card img {
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  border: none; 
}


 .small-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.small-card{
  border: 5px solid var(--dark);
  position: relative;
  text-align: center;
  background-color: var(--dark);
  height: 200px; 
  margin: 10px;
  flex-basis: calc(50% - 20px); 
  box-sizing: border-box;
  overflow: hidden;
}


.large-card span a, .small-card span a {
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  background-color: var(--dark); 
  color: var(--main); 
  padding: 8px; 
  font-family: "league spartan";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none; 
}

.large-card span a:hover, .small-card span a:hover {
  color: #d4b6b6; 
  cursor: pointer; 
}

#work a{
background-color: var(--dark);
color:var(--main)
}

/*contact me section*/

#contact-me {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px;
  margin: 10px;
}

#contact-me ul {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 50%; 
  list-style-type: none; 
  padding: 0; 
}

#contact-me li {
  margin: 0 10px; 
}

#contact-me a {
  color: var(--main);
  font-family: "league spartan", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none; 
}

#contact-me a:hover {
  color: #043d13; 
  cursor: pointer; 
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}
@media screen and (max-width: 600px) {
  .hero span {
      font-size: 150%;
      left: 50%;
      transform: translateX(-50%);
  }
  .work-card, .large-card, .small-card {
      width: 100%;
  }
  /*  responsive styling */
}